doctype
html
  head
    title= title
    link(href='/css/site.css', rel='stylesheet')
    link(href='/lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/lib/bootstrap/dist/css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='/css/site.css', rel='stylesheet')
    script(src='/lib/underscore/underscore.js')
    script(src='lib/bootstrap/dist/js/bootstrap.js')
  body
    block content
